@model ClinicAutomationProject.Models.DoctorModel
@{
    ViewBag.Title = "ManageDoctor";
}


<div class="jumbotron">

    <h2>Insert Doctor Details</h2>
    @using (Html.BeginForm("InsertDoctor", "Admin", FormMethod.Post))
    {

        @Html.HiddenFor(a => a.DoctorId)
        <div class="form-group">
            <label class="container"></label>
            @Html.DropDownListFor(a => a.SpecializationId, Model.SpecTypes, "Select Specialization", new { @class = "form-control" })
            <label class="container"></label>
            @Html.ValidationMessageFor(a => a.SpecializationId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label class="container">Name</label>
            @Html.TextBoxFor(a => a.DoctorName, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.DoctorName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label class="container">Email</label>
            @Html.TextBoxFor(a => a.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.Email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label class="container">Password</label>
            @Html.TextBoxFor(a => a.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.Password, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label class="container">ConfirmPassword</label>
            @Html.TextBoxFor(a => a.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.ConfirmPassword, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
            <input type="button" value="Cancel" class="btn btn-danger" onclick="GoToHome()" />
            
        </div>
    }
</div>


<script>
    function GoToHome() {
        window.location.href = '@Url.Action("AdminLogin", "Admin")';
    }
</script>
