@model IEnumerable<ClinicAutomationProject.Models.ZmsgPatientSendMessage>
@{
    ViewBag.Title = "OpenConversation";
}
<div class="jumbotron">
    <h2>View Messages</h2>
    <label></label>
    <table class="table table-bordered table-hover">
        <tr>
            <th>Sender</th>
            <th>Subject</th>

            <th>Description</th>
            <th>Date</th>
            <th>View Conversation</th>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                @Html.HiddenFor(a => item.SubjectID)
                <tr>
                    <td>@item.PatientName</td>
                    <td>@item.MessageSubject</td>                 
                    <td>@item.MessageDescription</td>
                    <td>@item.MessageDate.ToString("dd-MMM-yyyy,   hh-mm tt")</td>
                    <td>
                        <a href="@Url.Action("ReplyToThisConveration", "Doctor", new { subID = item.SubjectID })" class="text-danger">Reply</a>
                    </td>
                </tr>

            }
        }
        else
        {
            <tr>
                <td colspan="8">No record found.</td>
            </tr>
        }
    </table>
    <div class="row">
        <div class="col-md-4">
            <label class="container"></label>
            <div class="col-md-2">
                <p><a href="@Url.Action("DoctorLogin","Doctor")" class="btn btn-primary btn-lg">Go Back</a></p>
            </div>
        </div>
    </div>
</div>
