@model IEnumerable<ClinicAutomationProject.Models.DoctorAppointmentModel>
@{
    ViewBag.Title = "ViewPatient";
}

<div class="jumbotron">
    <h2>Your Appointments</h2>
    <label></label>
    <table class="table table-bordered table-hover">
        <tr>
            <th>Date</th>
            <th>SlotTime</th>
            <th>Subject</th>
            <th>Description</th>
            <th>Patient Name</th>
            <th>Patient Age</th>
            <th>Patient Gender</th>
        </tr>
        @if (Model != null)
        {
            int flag = 0;
            foreach (var item in Model)
            {
                if (item.AppointmentStatus.Equals("Accepted"))
                {
                    @Html.HiddenFor(a => item.AppointmentID);
                    <tr>
                        <td>@item.Date.ToString("dd-MMM-yyyy")</td>
                        <td>@item.SlotTime</td>
                        <td>@item.Subject</td>
                        <td>@item.Description</td>
                        <td>@item.PatientName</td>
                        <td>@item.PatientAge</td>
                        <td>@item.PatientGender</td>
                    </tr>

                    flag = 1;
                }
            }
            if (flag == 0)
            {
                <tr>
                    <td colspan="7">No record found.</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7">No record found.</td>
            </tr>
        }
    </table>
</div>



<div class="jumbotron">
    <h2>Appointment Requests</h2>
    <label></label>
    <table class="table table-bordered table-hover">
        <tr>
            <th>Date</th>
            <th>SlotTime</th>
            <th>Subject</th>
            <th>Description</th>
            <th>Patient Name</th>
            <th>Patient Age</th>
            <th>Patient Gender</th>
            <th colspan="2">Operation</th>
        </tr>
        @if (Model != null)
        {
            int flag = 0;
            foreach (var item in Model)
            {
                if (item.AppointmentStatus.Equals("Requested"))
                {
                    @Html.HiddenFor(a => item.AppointmentID);
                    <tr>
                        <td>@item.Date</td>
                        <td>@item.SlotTime</td>
                        <td>@item.Subject</td>
                        <td>@item.Description</td>
                        <td>@item.PatientName</td>
                        <td>@item.PatientAge</td>
                        <td>@item.PatientGender</td>


                        <td>
                            <a href="@Url.Action("AcceptAppointment", "Doctor", new { appointID = item.AppointmentID })" class="text-danger">Accept</a>
                        </td>
                        <td>
                            <a href="@Url.Action("RejectAppointment", "Doctor", new { appointID = item.AppointmentID })" class="text-danger"
                               onclick="return confirm('You want to reject?')">Reject</a>
                        </td>
                    </tr>
                    flag = 1;
                }
            }
            if (flag == 0)
            {

                <tr>
                    <td colspan="8">No record found.</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="8">No record found.</td>
            </tr>
        }
    </table>    
    <div class="row">
        <div class="col-md-4">
            <label class="container"></label>
            <div class="col-md-2">
                <p><a href="@Url.Action("DoctorLogin","Doctor")" class="btn btn-primary btn-lg">Go Back</a></p>
            </div>
        </div>
    </div>
</div>
