@model ClinicAutomationProject.Models.ZmsgPatientSendMessage
@{
    ViewBag.Title = "CreateNewChatMessage";
}
<div class="jumbotron">
    <h1>Create Message</h1>
    @using (Html.BeginForm("CreateNewChatMessage", "Patient", FormMethod.Post))
    {
        <div class="form-group">
            <label class="container"> </label>
            @Html.DropDownListFor(a => a.ReceiverDoctorMemberID, Model.DoctorNameList, "Send To", new { @class = "form-control" })
            <label class="container"></label>
            @Html.ValidationMessageFor(a => a.ReceiverDoctorMemberID, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label class="container"> </label>
            <label class="container">   Message Subject </label>
            @Html.TextBoxFor(a => a.MessageSubject, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.MessageSubject, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label class="container">   Message Description </label>
            @Html.TextBoxFor(a => a.MessageDescription, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.MessageDescription, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <input type="submit" value="Send Message" class="btn btn-primary" />
        </div>
    }
</div>